<nav id="mainNavbar" class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <img src="/pic/pho_36.jpg" alt="pho_36" class="mx-2">
        <a class="navbar-brand" href="/">Pho36</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item mx-5">
                    <a class="nav-link" aria-current="page" href="#top">Home</a>
                </li>
                <li class="nav-item mx-5">
                    <a class="nav-link" href="#aboutHead">About us</a>
                </li>
                <li class="nav-item mx-5">
                    <a class="nav-link" href="#menuHead">Menu</a>
                </li>
                <li class="nav-item mx-5">
                    <a class="nav-link" href="#locationHead">Location</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<script src="../../public/js/navScroll.js"></script>