<% layout("layouts/boilerplate")%>
    <header>
        <div class="coverBack">
            <h1><span>Pho 36</span></h1>
            <h2>Vietnamese restaurant</h2>
        </div>
    </header>
    <section class="whoBack container-fluid">
        <h2 id="aboutHead" class="row justify-content-center secHead">About us</h2>
        <div id="line_space"></div>
        <section class="row secBody justify-content-center align-items-center">
            <img src="/pic/logo.png" alt="Logo" id="logo">
            <div class="col-md-6 off-set-2">
                <ul>
                    <li>
                        <p>
                            <%= pho.description %>
                        </p>
                    </li>
                </ul>
            </div>
        </section>
    </section>
    <section class="menuBack container-fluid ">
        <h2 id="menuHead" class="row justify-content-center secHead">Menu</h2>
        <div id="line_space"></div>
        <section class="row secBody justify-content-center align-items-center text-center">
            <div class="col-md-6 off-set-2">
                <div id="menu" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <% pho.images.forEach((img, i)=> { %>
                            <div class="carousel-item <%= i === 0 ? 'active' : ''%>">
                                <img src="<%= img.url %>" class="d-block w-100 alt=" ...">
                            </div>
                            <% }) %>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#menu" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#menu" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </section>
    </section>
    <section class="locationBack container-fluid">
        <div class="coverBack">
            <h2 id="locationHead" class="row justify-content-center secHead">Location</h2>
            <div id="line_space"></div>
            <section class="row secBody justify-content-center align-items-center text-center">
                <div class="col-md-6 off-set-2">
                    <ul>
                        <li>
                            <div id='map' style='width: 100%; height: 300px;'></div>
                        </li>
                        <li>
                            <p class="locationText">
                                Address: 135 Whitefield Dr, Calgary, Alberta, Canada T1Y 5X1<br>
                                Located near Whitehorn station
                            </p>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </section>
    <script src="/js/showMap.js">
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <script src="/js/navScroll.js"></script>